* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-text-color: #c4f8e6;
  --secondary-text-color: #551111;
  --accent-color: #2294ed;
  --accent-color-dark: #1d69a3;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--primary-text-color);

  background: linear-gradient(145deg, #b2c58e, #d4eaa9);
}

p {
  font-family: "Roboto", sans-serif;
  color: var(--secondary-text-color);
  line-height: 1.4rem;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.flex {
  display: flex;
  align-items: center;
}

.container {
  max-width: 1180px;
  margin-inline: auto;
  overflow: hidden;
  padding: 20px;
}

nav {
  background-color: rgb(40, 40, 40);
  box-shadow: 0 0 4px #bbd0e2;
  position: fixed;
  top: 0;
  z-index: 99;
  left: 0;
  right: 0;
}

.main-nav {
  justify-content: space-between;
  padding-block: 8px;
}

.news-logo img {
  width: 120px;
  padding: 0;
  margin: 0;
}

.nav-links ul {
  gap: 16px;
}

.hover-link {
  cursor: pointer;
}
.hover-link:hover {
  color: var(--secondary-text-color);
}

.hover-link:active {
  color: red;
}

.nav-item.active {
  color: var(--accent-color);
}

.search-bar {
  height: 32px;
  gap: 8px;
}

.news-input {
  width: 200px;
  height: 100%;
  padding-inline: 12px;
  border-radius: 4px;
  border: 2px solid #bbd0e2;
  font-family: "Roboto", sans-serif;
}

.search-button {
  background-color: var(--accent-color);
  color: white;
  padding: 8px 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}

.search-button:hover {
  background-color: var(--accent-color-dark);
}

main {
  padding-block: 20px;
  margin-top: 80px;
}

.cards-container {
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 20px;
  align-items: start;
}

.card {
  width: 360px;
  min-height: 400px;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s ease;
  margin: 4px 4px;
  color: rgb(13, 0, 0);
  font-size: large;

  border-radius: 61px;
  background: linear-gradient(145deg, #b2c58e, #d4eaa9);
  box-shadow: 9px 9px 18px #a0b180, -9px -9px 18px #ecffbc;
}

.card:hover {
  border-radius: 61px;
  box-shadow: inset 9px 9px 18px #95a477, inset -9px -9px 18px #f8ffc6;

  transform: translateY(-10px);
  color: rgb(66, 44, 0);

  --secondary-text-color: #000000;
}

.card-header img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card-content {
  padding: 12px;
}

.news-source {
  margin-block: 12px;
}

.glow-on-hover {
  width: 120px;
  height: 30px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

a {
  color: #4373c6;
  position: relative;
  text-decoration: none;
  height: 38px;
}

a::before {
  background: hsl(45 100% 70%);
  content: "";
  inset: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s ease-in-out;
  z-index: -1;
  border-radius: 10px;
}

a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}
